.slide_image {
    height: 15vh;
    width: 12vw;
}

.slide {
    height: 30vh;
    display: none;
    position: absolute;
    top: 7vh;
    left: 6vw;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 12vh;
    margin-top: -2vh;
    padding: 2vh;
    color: white;
    font-weight: bold;
    font-size: 5vh;
    border-radius: 10vh;
    transition: 0.8s ease;
}

.next {
    right: 0;
}

.prev:hover, .next:hover {
    background-color: #414f6b;
}

.dot {
    cursor: pointer;
    height: 2vh;
    width: 2vh;
    background-color: #414f6b;
    border-radius: 1vh;
    display: inline-block;
    transition: 0.8s ease;
}

.dot_container {
    position: absolute;
    top: 25vh;
    left: 27vw;
}

.dot_active, .dot:hover {
    background-color: white;
  }

#carousel_bg {
    background-color: #414f6b;
    mix-blend-mode: hard-light;
    height: 30.2vh;
    position: relative;
    top: 65vh;
}

#carousel {
    margin-left: 20vw;
    margin-right: 20vw;
    position: relative;
    top: 35vh;
    height: 30vh;
}

.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}
  
@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}